/* Reset some default styles */
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Basic styling for the website */
body {
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Header styling */
header {
  position:top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292c2f;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

/* Navigation styling */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Wrap items when necessary */
  gap: 10px; /* Gap between navigation items */
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffd700;
}

.bar-block {
  display: none;
}

/* Media query for small screens (hide the menu and display the burger icon) */
@media screen and (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .burger-icon {
    background-color: #292c2f;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .bar-block {
    position: right;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .bar-item {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;
  }
  
  /* Links inside the dropdown */
  .bar-item a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .bar-item a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .bar-block:hover .bar-item {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .bar-block:hover .burger-icon {
    background-color: #616161;
  }
}

h1 {
  padding: 10px;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

h1 a:hover {
  color: #ffd700;
}

/* Main content container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

h2 {
  text-align: center;
}

main {
  padding: 20px;
}

address {
  margin-bottom: 30px;
}

/* Card container styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Card styling */
.card {
  width: 100%; /* Adjusted to 100% to allow wrapping on smaller screens */
  box-sizing: border-box;
  margin: 20px 0;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

/* Media query for medium-sized screens */
@media screen and (min-width: 600px) {
  .card {
    width: calc(50% - 20px); /* Two cards per row on medium-sized screens */
  }
}

/* Media query for large screens */
@media screen and (min-width: 900px) {
  .card {
    width: calc(33.33% - 20px); /* Three cards per row on large screens */
  }
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
  display: block;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.card h3 {
  margin: 0;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 15px;
  border-radius: 6px;
}

dl {
  margin-bottom: 30px;
}

dt {
  font-weight: bold;
  cursor: pointer;
}

dd {
  margin-bottom: 20px;
}

/* Footer styling */
footer {
  position:bottom;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 48px;
  bottom: 0;
  width: 100%;
}
