html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292c2f;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Wrap items when necessary */
    gap: 10px; /* Gap between navigation items */
    justify-content: center;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #ffd700;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.asset-class {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.asset-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.asset-description {
    font-size: 16px;
    color: #666;
}
.platform-list {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
footer {
    background-color: #292c2f;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
footer p {
    margin: 0;
}
.contact-info ul, .social-links ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.contact-info ul li, .social-links ul li {
    margin-bottom: 5px;
}
.contact-info a, .social-links a {
    color: #fff;
    text-decoration: none;
}
.footer-text {
    margin-top: 20px;
    font-size: 14px;
}